
    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

    body {
    background: #Edf0f5;
    background-image: url(flower.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    }

    .form {
    width: 400px;
    height: 350px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow:4px 5px 23px 0px;
    }
    input{
    padding:15px;
    }
    .placholder{
        color:gray;
        font-size:16px;
    }
    .user{
        width:365px;
        height:50px;
        margin:auto;
        border:2px solid #dddfe2;
        border-radius: 5px ;
        margin-bottom:10px;
    }
    .login{
        width:100%;
        height:50px;
        margin:auto;
        background:#0026ff;
        font-size:20px;
        border-radius:5px;
        color:#Edf0f5;
        border:none;
        font-weight:600;
        margin-bottom:15px;
    }
    .likh{
        text-align:center;
        margin-bottom:5px
    }
    .likh a{
        text-decoration:none;
        color:#0026ff;
        font-size:17px;
    }
    hr{
        border:1px solid #dddfe2;
        margin-bottom:30px;
    }
    .btn2{
        width:200px;
        height:50px;
        background:#42b72a;
        border-radius:5px;
        text-align:center;
        padding:15px;
        margin:auto;
    }
    .btn2 a{
        text-decoration:none;
        color:#Edf0f5;
        font-size:19px;
        font-weight:700;
    }